@{
    ViewData["Title"] = "Younes Co - Reset Password";
}



<div class="card">
    <div class="box">
        <h1>Younes Co</h1>
        <h2>Thank You<br><span>Password Reset</span></h2>
        <p>
            You successfuly reset your password. You have full access to our services.
        </p>
        <a class="btn btn-primary btn-block" href="/login">LOGIN</a>
    </div>
</div>
